body {
  margin: 0;
  background-image: url(https://s17.postimg.org/g47akmlbj/michael-benz-189972.jpg);
  background-attachment: fixed;
  no-repeat center center;
   background-size: cover;
   height: 570px;
}

header {
  background: black;
  margin: 0;
  padding: 10px;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 5px 50px;
  margin: 0px;
}
nav ul li a{
  color:white;
  
}
.bigtxt{
  font-size: 300%;
}
.centered {
  position: absolute;
  color: white;
  top: 250px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 200%;
  text-align: center;
}
