.image{
    background-position: center;
    background-size: cover;
    position: fixed;
}
.centered {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:200%;
    text-align: center;
}
